*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Netflix Sans' 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

:root {
}
