.labelAnimation {
  box-shadow: none;
  color: #333;
  top: 0.3rem !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  outline: none;
  margin-bottom: 1rem;
}

.button-primary {
  text-decoration: none;
  background-color: var(--color-netflix-red-light);
  padding: 0.7rem 1.5rem;
  color: #fff;
  font-weight: 400;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  width: auto;
}

.button-primary-big {
  width: 100%;
}
